@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
  overflow-x: hidden;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav a {
  position: relative;
  overflow: hidden;
  /* padding-bottom: 2px; */
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(13 148 136);
  transition: width 0.5s ease-in-out;
}

a:hover::after {
  width: 100%;
}

.select-link::after {
  width: 100%;
}
